<a href="https://colab.research.google.com/github/harim061/KoBERT/blob/main/prepare_KoBERT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [4]:
fin_t=pd.read_excel('감성대화말뭉치(최종데이터)_Training.xlsx')

fin_v=pd.read_excel('감성대화말뭉치(최종데이터)_Validation.xlsx')

In [5]:
fin_t=fin_t.fillna("")
fin_v=fin_v.fillna("")

In [7]:
# 컬럼간 str 합치기


fin_t["사람문장"]=fin_t["사람문장1"].astype(str)+fin_t["사람문장2"].astype(str)+fin_t["사람문장3"].astype(str).astype(str)
fin_v["사람문장"]=fin_v["사람문장1"].astype(str)+fin_v["사람문장2"].astype(str)+fin_v["사람문장3"].astype(str).astype(str)

df_concat=pd.concat([fin_t,fin_v])

final_df=df_concat[["사람문장","감정_대분류"]]
final_df=final_df.rename({"감정_대분류":"감정"},axis=1)
#컬럼 내 데이터들의 공백(string) 제거

final_df["감정"]=final_df["감정"].apply(lambda x:x.strip())
final_df["감정"].value_counts()

불안    10433
분노    10417
상처    10150
슬픔    10128
당황     9804
기쁨     7339
Name: 감정, dtype: int64

In [8]:
#np.where(조건,True일때 값,False일때 값)

final_df["감정"]=np.where(final_df["감정"].str.match("상처"),"슬픔",final_df["감정"])
final_df["감정"]=np.where(final_df["감정"].str.match("기쁨"),"행복",final_df["감정"])

In [9]:
final_df=final_df.reset_index(drop=True)

In [10]:
final_df.rename({"사람문장":"발화"},axis=1,inplace=True)

In [11]:
real_final_df=pd.concat([final_df])

In [12]:
real_final_df.reset_index(drop=True,inplace=True)
real_final_df

                                                      발화  감정
0      일은 왜 해도 해도 끝이 없을까? 화가 난다.그냥 내가 해결하는 게 나아. 남들한테...  분노
1      이번 달에 또 급여가 깎였어! 물가는 오르는데 월급만 자꾸 깎이니까 너무 화가 나....  분노
2      회사에 신입이 들어왔는데 말투가 거슬려. 그런 애를 매일 봐야 한다고 생각하니까 스...  분노
3      직장에서 막내라는 이유로 나에게만 온갖 심부름을 시켜. 일도 많은 데 정말 분하고 ...  분노
4      얼마 전 입사한 신입사원이 나를 무시하는 것 같아서 너무 화가 나.상사인 나에게 먼...  분노
...                                                  ...  ..
58266  나랑 비슷한 시기에 결혼하는 친구는 시댁에서 집을 해줘서 너무 부러워. 우리는 대출...  당황
58267  친구 한 명이 결혼해서 아이를 가졌는데 너무 행복해 보이더라. 기분이 좋지만은 않아...  당황
58268  남들은 결혼 전에 일억을 모았다는데 난 뭐를 한 것인지 모르겠어. 자괴감만 드네.요...  당황
58269  나보다 결혼을 먼저 한 친구가 부러워. 그 친구 남편은 직장도 내 남편보다 좋고 키...  당황
58270  친구들 모두 결혼하고 나만 혼자 남아서 쓸쓸하네.맞아. 하지만 그렇다고 아무나하고 ...  당황

[58271 rows x 2 columns]

In [13]:
real_final_df["감정"].value_counts()

슬픔    20278
불안    10433
분노    10417
당황     9804
행복     7339
Name: 감정, dtype: int64

In [15]:
real_final_df.to_csv("sentiment_dialogues.csv")